<nav ng-include="'modules/home/views/navigation.html'"></nav>
<div class="container" style="height: 410px;" ng-controller="ProjectController">
	<div class="row ">
	  <div class="col-md-4 ">
		 <input type="text" placeholder="Project Name" ng-model="filter" style="width:360px; margin-bottom: 10px;" class="form-control" >
		    <div class="panel panel-default" style="height:450px;" >
			  <div class="panel-body " style="border:1px gray;height:450px; padding: 0;">
			  <div id="slim-bar" style="overflow:auto;height:450px; padding: 15px;">
               <uib-alert ng-repeat="projcetList in data | filter:filter " type="success" close="closeAlert($index)" ng-click="edit($index)" style="border:1px solid #afafaf;">{{projcetList.name}} - [{{projcetList.agreement}}]</uib-alert>
 		      </div>
			  </div>
			</div>
		</div>
		
		
		<div class="col-md-6" >
			<div class="panel panel-default">
			  <div class="panel-body" style="height:490px;" >
				<form name="addProject">
				<table >
					<tr>
						<td><h5>Name :</h5></td>
						<td><input type="text" ng-model="projectName" class="form-control" placeholder="Name" name="project_name" required></td>
					</tr>
					<tr>
						<td><h5>Agreement :</h5></td>
						<td><input type="text" ng-model="projectAgr" class="form-control" placeholder="Agreement" name="project_agr" required></td>
					</tr>
					<tr>
						<td></td>
						<td><button class="btn btn-sm btn-primary btn-block" type="submit" ng-click="validation(index,data)">Update</button></td>
					</tr>
				</table>
				</form>
				
			  </div>
			</div>
		</div>
	</div>
	
	<div>
	<div>@MaximaConsulting.com</div>
	</div>
	
</div>


<script>
 $(function(){
    $('#slim-bar').slimScroll({
        height: '430px',
        railVisible: true,
         alwaysVisible: true
    });
});
 
</script>