<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container" style="margin-left: 150px">
			<div class="navbar-header">
				<a class="navbar-brand" href="">Maxima Attendance</a>
				<a class="navbar-brand" href="#users">Users</a>   
				<a class="navbar-brand" href="#/timelog">Current Status</a>        
				<a class="navbar-brand" href="">Work from home</a>  
				<a class="navbar-brand" href="">Reports</a>
				<a class="navbar-brand" href="#/project">Projects</a>     
				<a class="navbar-brand" href="#/holidays">Holidays</a>
			</div>
			<div class="navbar-collapse collapse">
				<form class="navbar-form navbar-right" action="#/login" >
					<button type="submit" class="btn btn-danger">Logout</button>
				</form>
			</div>
		</div>
</div>