<nav ng-include="'modules/home/views/navigation.html'"></nav>
<div class="container" style="height: 410px;"
	ng-controller="HolidaysController">

	<div class="row ">
		<div class="col-md-4  ">
			<div class="input-group input-append date " id="datePicker"
				style="margin-bottom: 10px;">
				<input type="text" class="form-control" ng-model="id" name="date"
					style="width: 319px;" /> <span class="input-group-addon"><span
					class="glyphicon glyphicon-calendar"></span></span>
			</div>
			<div class="panel panel-default">
				<div class="panel-body"
					style="border: 1px gray; height: 418px; padding: 0;">
					<div id="slim-barHoliday"
						style="overflow: auto; height: 418px; padding: 15px;">
						<uib-alert ng-repeat="holidaysList in data | filter:id"
							type="success" close="closeAlert(holidaysList.id, $index)"
							ng-click="edit($index)" style="border:1px solid #afafaf;">
						{{holidaysList.description}}-{{holidaysList.date}}</uib-alert>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">

			<!-- PANEL SECTION -->
			<div class="panel panel-default">

				<!-- PANEL HEADING -->
				<div class="panel-heading">
					<h4 class="panel-title">Holiday</h4>
				</div>
				<!-- END OF PANEL HEADING -->

				<!-- PANEL BODY -->
				<div class="panel-body" style="height: 420px;">

					<button type="button"
						class="btn btn-sm btn-primary col-sm-offset-9"
						style="font-size: 20px; border-radius: 50px; padding-left: 45px; display: block; padding-right: 45px;"
						ng-if="!flags" ng-click="show()">Add</button>

					<div class="" ng-show="flags" style="width: 500px;">
						<form name="addHolidays" class="form form-horizontal">

							<div class="form-group">
								<label for="holidaysDate" class="col-md-3 control-label"
									style="padding-left: 10px;">Date </label>
								<div class="col-md-6">
									<div class="input-group">
										<input type="text" class="form-control col-md-6"
											uib-datepicker-popup ng-model="holidaysDate"
											is-open="popup2.opened" datepicker-options="dateOptions"
											name="holidays_date" ng-required="true" close-text="Close" />
										<span class="input-group-addon" ng-click="open2()"> <i
											class="glyphicon glyphicon-calendar"></i>
										</span>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label for="holidays_agr" class="col-md-3 control-label">Description</label>
								<div class="col-sm-6">
									<input type="text" ng-model="holidaysAgr" class="form-control"
										placeholder="description" name="holidays_agr"
										ng-required="true">
								</div>
							</div>

							<div class="btn-group btn-sm col-sm-offset-3" role="group">
								<button type="button"
									class="btn btn-sm btn-primary btn-block col-sm-offset-3 "
									style="width: 100px; text-align: center; line-height: 2;"
									ng-if="flag==true" type="submit"
									ng-click="validation(index,data)" ng-disabled="buttonDisabled">Update</button>
								<button type="button"
									class="btn btn-sm btn-success btn-block col-sm-offset-3"
									style="width: 100px; text-align: center; width: 100px; line-height: 2;"
									ng-hide="flag" ng-click="add()" ng-disabled="buttonDisabled">Add</button>
								<span ng-class="class"
									style="text-size: 20px; margin: 4px; margin: 10px; padding: 12px; line-height: 3;">{{showAlert}}</span>
							</div>
						</form>
					</div>
				</div>
				<!-- END OF PANEL BODY -->

			</div>
			<!-- END OF PANEL SECTION -->
		</div>
	</div>
	<div>
		<div>@MaximaConsulting.com</div>
	</div>
</div>

<script>
	$(function() {
		$('#datePicker').datepicker({
			format : 'yyyy',
			viewMode : 'year',
			minViewMode : 'years'
		}).on('changeDate', function(e) {
			$(this).datepicker('hide');
		});
	});
	$(function() {
		$('#slim-barHoliday').slimScroll({
			height : '418px',
			railVisible : true,
			alwaysVisible : true
		});
	});
</script>

